<!DOCTYPE html>
<html>
<head>
	Helloooo
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="header">
		<img src=projectExpress\Static\Images\bg.jpg>
	 <h1> JOB HUNTER  </h1> </div>
	
		<nav id="navbar">
			<div class=container>
		<ul>
			<li> <h3> <a href="#"> Home </a> </h3> </li>
			<li> <h3> <a href="#"> Companies </a> </h3> </li>
			<li> <h3> <a href="http://localhost:3000/Contact"> Contact us </a> </h3> </li>
			<li> <h3> <a href="#"> Privacy Policy </a> </h3> </li>
			<li> <h3> <a href="#"> Feedback </a> </h3> </li>
			<li> <h3> <a href="http://localhost:3000/Signin"> Sign in </a>  </h3> </li>
			<li> <h3> <a href="http://localhost:3000/Register"> Register </a> </h3> </li>
		</ul>
	    </div>
		</nav>
		<div class="box">
		<h2> ABOUT </h2>
		<p> With the monotonic increase in population, the need of a website which helps people find jobs without having to travel miles in the scorching sun or in the pouring rain is at an all time high. The website provides just that. With an user-friendly interface, we aspire to help people find their dream jobs within a few minutes. All the registered users will be asked to choose their area of expertise and then will be allowed to choose from a list of companies (Not more than 2 at a time). The resume will be looked over by the company and if they find the person capable, an interview can be set up. This way, the work which usually takes hours will be done within minutes. </p>   </div>

		<div class="image">
			<img src=projectExpress\Static\Images\image.jpg width="500" height="350">
		</div>

		</body>





</body>
</html>