<!DOCTYPE html>

  <head>
    <title></title>
    <link rel="stylesheet" href="/Signin/style.css">
  </head>
  <body>
<div class="login-box">
  <h1>Login</h1>
  <div class="textbox">
    <form action="../routes/Signin" method="POST">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Username">
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Password">
  </div>

  <input type="button" class="btn" value="Sign in">
</form>
</div>
  </body>
</html>
